<h2>Listing services</h2>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @services.each do |service| %>
  <tr>
    <td><%= link_to service.id, app_service_path(params[:app_id], service) %></td>
    <td><%= link_to 'Edit', edit_app_service_path(params[:app_id], service) %></td>
    <td><%= link_to 'Destroy', app_service_path(params[:app_id], service), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Service', new_app_service_path %>
