<%= form_tag( {action: 'create'}, method: :post) do %>
 
  <% @providers.each do |p| %>
  

    	<table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Uptime</th>
          <th>Location</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
          <tr>
            <td><%= p['name'].humanize %></td>
            <td></td>
            <td></td>
            <td>
              <%= button_tag 'Sign up', type: :submit, class: "btn btn-info btn-large", name: "provider", value: p['name'] %>
            </td>
          </tr>
      </tbody>
    </table>
    	
      
  <% end %>
<% end %>
