<% content_for :page_title do %>
<% end %>

<% content_for :content do %>
  <div class="container">
    This page is accessible by all users! The following link is for authenticated users only: <%= link_to "click here", test_users_path %>
</div>
<% end %>
